{% macro displayExample(pitches_list) %}

    {% for example in pitches_list %}
        <li>{{ example.title}}</li>
    {% endfor %}

{% endmacro %}
{% macro allPitches(pitch_list) %}
{% for pitch in pitch_list%}

<div class="col-md-6 mb-3">
    <div class="card">
        <div class="card-header">
            {{pitch.title}}
        </div>
        <div class="card-body">
            {{pitch.pitch}}
        </div>
    </div>
</div>

{% endfor %}
{% endmacro %}
{%macro displayAll(pitches)%}
{% for pitch in pitches%}
<div class="col-sm-12" style="padding-bottom: 25px;">
    <div class="card m-auto">
        <div class="card-header bg-info">
            <div class="row">
                <div class="col-sm-3">
                    <img src="" class="img-circle" alt="">
                </div>
                <div class="col-sm-6">
                    <h5 class="text-center">{{pitch.title}}</h5>
                </div>
 

                    
                    
